name: Generate Snake

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # napi egyszer lefut

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install snake generator
        run: npm install -g @platane/snk

      - name: Make dist folder
        run: mkdir -p dist

      - name: Generate snake animation
        run: snk --github MolnarHangaBorbala --output dist/github-contribution-grid-snake.svg

      - name: Push to output branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: output
